// Place all the styles related to the api/Friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  color: #0076c0;
  text-decoration: none;
  cursor:auto;
}
