/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.body {
  display: grid;
  grid-template-rows: 100px auto 100px;
  height: 100vh;
  width: 100%;
}
body {
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headword {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  margin-left: 60px;
  color: #206ce8;
}

.logintop:hover {
  color: grey;
}


.signupform {
  display: flex;
  width: 45vh;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.swichlog {
  font: bold 15px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  text-decoration: none;
}

.signinput {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
signinput,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

.signindiv {
  background-color: #f3e9e9;
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
}



.subbut {
  font: bold 25px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	padding: 5px 5px 5px 5px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #97bf11 ;
	border-style: none;
	text-align: center;
	overflow: visible;
  width: inherit;
  height: 50px;
}

.errors {
  color: red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

.bodypart {
  background-image: image-url('front_page_img.jpg');
  background-position:center;
  background-size:cover;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.guestlink {
  font: bold 25px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	color: white;
	padding: 5px 10px 5px;
  margin: 20px 20px 20px 40px;
	white-space: nowrap;
	text-decoration: none;
	cursor: pointer;
	background: #97bf11 ;
	border-style: none;
	text-align: center;
	overflow: visible;
}

.navlinks {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  text-decoration: none;
}




#map {
  float: right;
  width: 75%;
  height: 100%;
}

#mapform {
  float: left;
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
}

.logintop {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin-right: 20px;
  color: grey;
}

.logintop:hover {
  color: black;
}

.signuptop {
  display: inline-block;
  background-color: #97bf11;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: white;
	padding: 5px 10px 5px;
  border-radius: 2px;
  margin-right: 30px;
}

.createroutelink {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  margin-left: 50px;
  color: grey;
}

.createroutelink:hover {
  color: black;
  cursor: pointer;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    background-image: image-url('icon.jpg');
    background-position:center;
    background-size:cover;
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
